.App {
    padding-bottom: 80px; 
    margin: 0;
    padding: 0 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #f0f0f3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    z-index: 10; 
  }

  .centered-message {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
  }

  .error-message, .empty-message {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    font-size: 24px; 
    color: #d9534f; 
    margin: 0; 
    padding: 10px;
    border-radius: 15px; 
    background-color: rgba(255, 192, 203, 0.5); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: opacity 0.3s; 
    display: inline-block;
  }

  .empty-message {
    color: #5bc0de; 
    background-color: rgba(173, 216, 230, 0.5); 
  }

  .sticky-container {
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: #f6f3f5;
    padding: 20px;

}
.sticky-container__title{
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    @media (max-width: 768px){
      font-size: 0.8rem;
      letter-spacing: 0.24px;
      margin-bottom: 16px;
    }
  }
  .sticky-container__title::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    bottom: -5px;
    left: 0;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    @media (max-width: 768px){
        flex-direction: column;
        align-items: flex-start;
    }
  }
  
  button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  button:first-of-type {
    background: linear-gradient(135deg, #ff6e7f, #bfe9ff);
    color: white;
  }
  
  button:first-of-type:hover {
    background: linear-gradient(135deg, #ff5a6b, #99d4ff);
    box-shadow: 0px 10px 20px rgba(255, 110, 127, 0.3);
    transform: translateY(-5px);
  }
  
  button:nth-of-type(2),
  button:nth-of-type(3) {
    background: linear-gradient(135deg, #4ca1af, #c4e0e5);
    color: white;
  }
  
  button:nth-of-type(2):hover,
  button:nth-of-type(3):hover {
    background: linear-gradient(135deg, #3b9299, #a1d4dc);
    box-shadow: 0px 10px 20px rgba(76, 161, 175, 0.3);
    transform: translateY(-5px);
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow: scroll;
  }
  
  .card {
    border-radius: 20px;
    padding: 20px;
    background-color: #f0f0f3;
    box-shadow: 7px 7px 15px #b8b9be, -7px -7px 15px #ffffff;
    transition: box-shadow 0.3s ease;
    width: 350px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  
  .card:hover {
    box-shadow: 10px 10px 25px #b8b9be, -10px -10px 25px #ffffff;
  }
  
  .card img {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  .card:hover img {
    transform: scale(1.05);
  }
  
  
  @media (min-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
  
  .loader {
    margin: 0 auto;
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .single-column-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
  }
  
  .single-column-card {
    border-radius: 20px;
    background-color: #f0f0f3;
    box-shadow: 7px 7px 15px #b8b9be, -7px -7px 15px #ffffff;
    transition: box-shadow 0.3s ease;
    width: 100%;
    max-width: 280px;
    margin: 10px 0; 
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  
  .single-column-card img {
    max-width: 100%; 
    width: 300px; 
    height: auto; 
    border-radius: 15px; 
    transition: transform 0.3s ease;
  }
  .single-column-card:hover {
    box-shadow: 10px 10px 20px #b8b9be, -10px -10px 20px #ffffff;
    transform: translateY(-5px);
  }
  .scroll-to-top {
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background-color: #539acd; 
    color: white; 
    border: none; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 24px; 
    transition: background-color 0.3s; 
  }
  
  .scroll-to-top:hover {
    background-color: #055f80; 
  }
  
  
  
  